<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
</head>
<body onload="display_leo()">
    <div  class="mpLinksBox">
        <a class="mpLinks" href="/register">Register</a>
        <a class="mpLinks" href="/login">Login</a>
    </div>
    <div style="background-image: url('space.jpeg');" class="head">
        <img class="icon" src="{{ url_for('static',filename='images/astrology_icon.png') }}" alt="H">
        <h1 class="title">~~ <span style="color: green;">G</span> Horoscopes ~~</h1>
    </div>
    <hr>
    <div style="display: flex; align-items: center; width: 100%">
        <img id='signImg' src="{{ url_for('static', filename='images/signs/Leo.jpeg') }}">
        <div>
            
            <h1 id="sign">LEO </h1>
            <span id="current_date"></span>
        </div>
        <div class="form">
                <label>Chooses a sign:</label>
                <select id="signX" class="form-select" aria-label="Default select example">
                    <option value="Aries">Aries</option>
                    <option value="Taurus">Taurus</option>
                    <option value="Gemini">Gemini</option>
                    <option value="Cancer">Cancer</option>
                    <option selected value="Leo">Leo</option>
                    <option value="Virgo">Virgo</option>
                    <option value="Libra">Libra</option>
                    <option value="Scorpio">Scorpio</option>
                    <option value="Sagittarius">Sagittarius</option>
                    <option value="Capricorn">Capricornus</option>
                    <option value="Aquarius">Aquarius</option>
                    <option value="Pisces">Pisces</option>
                </select>

                <label>Choose a day:</label>
                <select id="day" class="form-select" aria-label="Default select example">
                    <option value="Yesterday">Yesterday</option>
                    <option value="Today" selected>Today</option>
                    <option value="Tomorrow">Tomorrow</option>
                </select>

                <button onclick="display_sign()">Submit</button>
        </div>
    </div>
    <div class="content">

    <p class="label">Compatible Sign
    </p>
    <p class="result1" id="compatability"></p>

    <p class="label">Overarching Mood</p>
    <p class="result1" id="mood"></p>

    <p class="label">Luck for the Day</p>
    <p class="result1" id="lucky_color"></p>
    <p class="result1" id="lucky_time"></p>
    <p class="result1" id="lucky_number"></p>

    <p class="label">Horoscope</p>
    <div class="descSetting">
        <img onclick="left_description()" class="left_arrow" src="{{ url_for('static', filename='images/left-arrow.png') }}">
        <p class="result2" id="description"></p>
        <img onclick="right_description()" class="right_arrow" src="{{ url_for('static', filename='images/right-arrow.png') }}">
    </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/project.js')}}"></script>
</body>
</html>