<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
</head>
<body class="body">
    <a class="reg_logLink2" href="/">Back to Main</a>
    <a class="reg_logLink" href="/login">Already Registered?</a>
    <div class="content">
        <div class="box">
            <form action="/register_user" method="POST">
                <h2 style="color: blue;">Register</h2>
                
                <ul class='flashes'>
                {% with register = get_flashed_messages(category_filter=["register"]) %}
                    {% if register %}
                        {% for message in register %}
                            <li class={{category}}>{{ message }}</li>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </ul>

                <label id="tooltip" for="first_name" class="form-label">First Name
                <span class="tooltiptext">Capitalize first letter</span>
                </label>
                <input class="form-control" type="text" placeholder="First Name" name="first_name" required="required">

                <label id="tooltip" for="last_name" class="form-label">Last Name
                <span class="tooltiptext">Capitalize first letter</span>
                </label>
                <input class="form-control" type="text" placeholder="Last Name" name="last_name" required="required">

                <label id="tooltip" for="email" class="form-label">Email address
                <span class="tooltiptext">email format<br>(ie. abc@jlg.xyz)</span>
                </label>
                <input type="email" class="form-control" placeholder="name@example.com" name="email" required="required">

                <div class="pickers">
                <label id="tooltip" class="form-label" for="dob">Birthday:<span class="tooltiptext">Date of Birth</span></label>
                <input type="date" id="dob" name="dob" required="required">
                </div>

                <div class="pickers">
                <label id="tooltip" class="form-label" for="tob">Birth Time:<span class="tooltiptext">Time of Birth</span></label>
                <input type="time" id="tob" name="tob">
                </div>

                <label id="tooltip" for="birth_location" class="form-label">Birth City
                <span class="tooltiptext"></span>
                    </label>    
                <div class="input-group mb-3" id="birth_location1">
                    <input id="birth_location" type="text" class="form-control" placeholder="Birth City" name="birth_location">
                    <button onclick="get_location()" class="btn btn-outline-secondary" type="button" id="button-addon2">Find Location</button>
                </div>
                <!-- <select style="display:none" id="location_results" name='location' class="form-select" required="required">
                </select> -->

                <label id="tooltip" for="password" class="col-sm-2 col-form-label">Password
                <span class="tooltiptext">Must be 8-20 characters, special included</span>
                </label>
                <input type="password" class="form-control" name="password" required="required">

                <label style="width: 150px !important;" id="tooltip" for="password_confirm" class="col-sm-2 col-form-label">Confirm Password
                <span class="tooltiptext">Must match password</span>
                </label>
                <input type="password" class="form-control" name="password_confirm" required="required">

                <input style="background-color: blue;" class="button" type="submit" value="Register">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/project.js')}}"></script>
</body>
</html>