<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
    <title>User Page</title>
</head>
<body>
    <div style='text-align: center;'>
    {% for info in user_info %}
    <h1>Welcome {{info.first_name}} {{info.last_name}}</h1>

    <div style="border: 2px solid grey; width: 50%; margin: 0px 25%;">
    <h2> User Info:</h2>
    <h4>Email: {{info.email}}</h4>
    <h4>Date of Birth: {{dtob.month}}-{{dtob.day}}-{{dtob.year}}</h4>
    <h4>Time of Birth: {{dtob.hour}}:{{dtob.minute}}:{{dtob.second}} {% if dtob.hour < 12 %}AM{% else %}PM{% endif %}</h4>
    <h4>Birth Coordinates: {{info.location}}</h4>
    </div>
    {% endfor %}
    <br/><br/><br/> 
    <div style="border: 2px solid black;">
    <p >Detailed Horoscopes have been ended due to API fee's on the implemented API. Return status is:</p>
    <h3>Unknown</h3>
    </div>
    </div>
    <a style='position: absolute; right: 160px; top: 500px;' class="button1" href="/logout">Logout</a>

    
</body>
</html>