<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
    <title>User Page</title>
</head>
<body>
    <h1>Welcome {{display_name}}</h1>

    {% for info in user_info %}
    <h4>{{info.first_name}}</h4>
    <h4>{{info.last_name}}</h4>
    <h4>{{info.email}}</h4>
    {% endfor %}


    <a class="button1" href="/logout">Logout</a>
</body>
</html>